.dark_mode-html {
  background-color: hsl(207, 26%, 17%);
}
.dark_mode-html body {
  color: hsl(0, 0%, 100%);
}
.dark_mode-html body header {
  box-shadow: rgba(194, 194, 215, 0.2) 0px 1px 9px 0px;
}
.dark_mode-html body header .switch_mode-btn {
  color: hsl(0, 0%, 100%);
}
.dark_mode-html body header .switch_mode-btn:hover {
  box-shadow: rgba(197, 197, 219, 0.2) 0px 7px 29px 0px;
}
.dark_mode-html body header .switch_mode-btn:active {
  box-shadow: rgba(198, 198, 220, 0.4) 3px 6px 4px -2px;
}
.dark_mode-html body main .input-filter_container .input_container {
  background-color: hsl(209, 23%, 22%);
}
.dark_mode-html body main .input-filter_container .input_container .search_svg {
  color: hsl(0, 0%, 100%);
}
.dark_mode-html body main .input-filter_container .input_container .input_field {
  color: hsl(0, 0%, 100%);
}
.dark_mode-html body main .input-filter_container .filter_open-options {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark_mode-html body main .input-filter_container .filter_options {
  background-color: hsl(209, 23%, 22%);
}
.dark_mode-html body main .input-filter_container .filter_options .filter_by {
  border-bottom: 1px solid hsl(209, 23%, 22%);
}
.dark_mode-html body main .input-filter_container .filter_options .filter_by:hover {
  color: rgb(94, 204, 255);
  border-bottom: 1px rgb(94, 204, 255) solid;
}
.dark_mode-html body main .country_container .card_country {
  background-color: hsl(209, 23%, 22%);
}
.dark_mode-html body main .country_container .card_country:hover {
  box-shadow: rgba(198, 198, 220, 0.5) 0px 9px 20px 0px;
}
.dark_mode-html body main .country_container .card_country:active {
  box-shadow: rgba(198, 198, 220, 0.5) 0px 2px 5px 0px;
}
.dark_mode-html .back_btn {
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(198, 198, 220, 0.2) 0px 2px 5px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  background-color: hsl(0, 0%, 98%);
  transition: all 0.2s;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1;
  color: hsl(200, 15%, 8%);
  width: 100%;
  font-size: 1.6rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 9rem 3rem 11rem;
  width: 100%;
  transition: all 0.2s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 9px 0px;
}
@media (max-width: 760px) {
  header {
    padding: 1.5rem 1rem;
    font-size: 1rem;
  }
}
header .switch_mode-btn {
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem 2rem;
  transition: all 0.1s;
}
header .switch_mode-btn:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
header .switch_mode-btn:active {
  box-shadow: rgba(100, 100, 111, 0.4) 3px 6px 4px -2px;
}
@media (max-width: 760px) {
  header .switch_mode-btn {
    font-size: 1.2rem;
  }
}
@media (max-width: 390px) {
  header .switch_mode-btn {
    padding: 0.5rem;
    border-radius: 50%;
  }
  header .switch_mode-btn p {
    display: none;
  }
}
header .switch_mode-btn .switch_mode--svg {
  width: 3rem;
  height: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  width: 90%;
  margin: 6rem auto;
}
@media (max-width: 760px) {
  main {
    margin-top: 3rem;
  }
}
main .input-filter_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: relative;
}
@media (max-width: 760px) {
  main .input-filter_container {
    flex-direction: column;
    gap: 2rem;
  }
}
main .input-filter_container .input_container {
  display: flex;
  transition: all 0.2s;
  background-color: hsl(0, 0%, 100%);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 9px 0px;
  width: 40%;
}
@media (max-width: 760px) {
  main .input-filter_container .input_container {
    width: 100%;
  }
}
main .input-filter_container .input_container .search_svg {
  height: 3rem;
  width: 3rem;
  transition: all 0.2s;
  color: hsl(0, 0%, 52%);
}
main .input-filter_container .input_container .input_field {
  outline: none;
  border: none;
  background: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  width: 100%;
}
main .input-filter_container .filter_open-options {
  background: none;
  background-color: hsl(0, 0%, 100%);
  border: none;
  transition: all 0.2s;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 9px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 0 2rem 0 3rem;
  width: fit-content;
  height: 6rem;
  color: hsl(200, 15%, 8%);
  font-size: 1.5rem;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
}
@media (max-width: 760px) {
  main .input-filter_container .filter_open-options {
    padding: 2rem;
  }
}
main .input-filter_container .filter_open-options .left_arrow-svg {
  height: 2rem;
  width: 2rem;
}
main .input-filter_container .filter_options {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 13%;
  border-radius: 0.5rem;
  transform: translate(0, 4%);
  transition: all 0.1s;
  z-index: 99;
}
main .input-filter_container .filter_options .filter_by {
  cursor: pointer;
  border-bottom: 1px solid hsl(0, 0%, 100%);
  border-radius: 8%;
  transition: all 0.15s;
}
main .input-filter_container .filter_options .filter_by:hover {
  color: rgb(0, 121, 177);
  border-bottom: 1px rgb(0, 121, 177) solid;
}
main .country_container {
  width: 100%;
  display: grid;
  row-gap: 8rem;
  column-gap: 8rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding-bottom: 7rem;
}
@media (max-width: 760px) {
  main .country_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 390px) {
  main .country_container {
    grid-template-columns: 1fr;
  }
}
main .country_container .card_country {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 9px 0px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  display: flex;
  padding-bottom: 3rem;
  flex-direction: column;
  transition: all 0.2s;
  cursor: pointer;
}
main .country_container .card_country:hover {
  transform: translate(0, -10px);
  box-shadow: rgba(100, 100, 111, 0.5) 0px 9px 20px 0px;
}
main .country_container .card_country:active {
  transform: translate(0, -5px);
  box-shadow: rgba(100, 100, 111, 0.5) 0px 2px 5px 0px;
}
main .country_container .card_country .img_container {
  width: 100%;
  height: 23rem;
}
main .country_container .card_country .img_container .country_flag {
  width: 100%;
  height: 90%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
main .country_container .card_country .details_container {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .country_container .card_country .details_container .country_name {
  font-weight: 800;
  font-size: 2rem;
}
main .country_container .card_country .details_container .details_inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .country_container .card_country .details_container .details_inner .head {
  font-weight: 700;
}
main .back_btn {
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem 2rem;
  transition: all 0.1s;
  width: 10%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .back_btn:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
main .back_btn:active {
  box-shadow: rgba(100, 100, 111, 0.4) 3px 6px 4px -2px;
}
@media (max-width: 760px) {
  main .back_btn {
    font-size: 1.2rem;
  }
}
@media (max-width: 390px) {
  main .back_btn {
    padding: 0.5rem;
    border-radius: 50%;
  }
  main .back_btn p {
    display: none;
  }
}
main .back_btn .arrow_back-svg {
  width: 3rem;
  height: 3rem;
}

.hidden {
  display: none !important;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.apply-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
